body{

    nav {
        border-bottom: 1px solid lightgray;
    }




    ::placeholder {
        color: black;
        font-size: 1em;
    }




    textarea{outline:0;
        padding: 1px;
        width: 70%;
        resize: none;}

    #over2{height: 80%;}
    #over2+div{height: 20%;}

    #descripcion{height:30%;}
    #over{height: 60%;
    }
}

@media (min-width:768px) {

    #descripcion{width:30%;}
    #over{width: 70%;
    }
    #descripcion{height:100% !important;}
    #over{height: 100% !important;
    }

}


